/* Стиль для фона модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Убедитесь, что модальное окно поверх остальных элементов */
}

/* Стиль для содержимого модального окна */
.modal-content {
  background: #fff; /* Белый фон для модального окна */
  border-radius: 12px;
  padding: 0px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh; /* Максимальная высота модального окна */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
}


.modal-filter {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Убедитесь, что отступы подходят для вашего дизайна */
  position: relative; /* Для абсолютного позиционирования кнопки */
  background-color: white; /* Или другой цвет фона */
  border-bottom: 1px solid #CDCDCD; /* Черный подвал */
}
.modal-buttons {
  padding: 20px;
  border-top: 1px solid #CDCDCD; /* Разделительная линия для кнопок */
  display: flex;
  justify-content: space-between;
}

/* Контейнер для чисел с прокруткой */
.modal-numbers {
  overflow-y: auto; /* Прокрутка, если содержимое превышает высоту */
  max-height: calc(80vh - 80px); /* Вычитаем высоту фиксированных элементов (фильтр и кнопки) */
  padding: 20px; /* Отступ для прокрутки */
}


.modal-close-button {
  position: absolute;
  top: 5px; /* Уменьшить отступ сверху */
  left: 5px; /* Уменьшить отступ справа */
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}





.modal-footer {
  position: sticky;
  bottom: 0; /* Фиксировать к нижней части модального окна */
  background: #fff; /* Фон, чтобы скрыть элементы за модальным окном */
  z-index: 1001; /* Чтобы он находился поверх остальных элементов */
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Отцентрировать кнопки */
}
/* Стиль для заголовка модального окна */
.modal-header-filter {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1001;
  padding: 10px;
}

  
.modal-close-button {
  position: absolute;
  top: 10px; /* Расположить кнопку по центру сверху */
  right: 10px; /* Расположить кнопку по центру справа */
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
}
  
  /* Стиль для полей ввода цен */
.price-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-inputs input[type="number"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

/* Стиль для кнопки применения фильтра */
.apply-button {
  background-color: #007bff; /* Синий фон для кнопки */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #0056b3; /* Темнее синий при наведении */
}

/* Стиль для ползунков */
.MuiSlider-thumb {
  background-color: #007bff;
  border-radius: 50%; /* Круглый стиль ползунка */
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.input_filter_price_min {
  padding: 6px 14px;
  border-radius: 8px;
  border: 2px solid #E6E6E6;
  width: 200px;
  font-size: 16px;
  color: #757575;
  position: relative;
  height: 44px; /* Устанавливаем высоту */
  box-sizing: border-box; /* Включает паддинги и бордеры в высоту */
}
.input_filter_price_min:hover {
  border: 2px solid #C2C2C2;
}
    
.input_filter_price_min:focus {
  outline: none !important;
  border: 2px solid #C2C2C2;
}

.input_filter_price_min::placeholder {
  font-size: 16px;
  color: #757575;
}
.teacher-search {
  position: relative;
  display: flex; /* Arrange elements in a row */
  align-items: center; /* Align icon and input vertically */
  justify-content: center;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 8px;
}
.teacher-search:hover {
  border-color: black;
}

.icon-container {
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);

}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 2px;
  box-sizing: border-box;
  color: #212121;
}

.input-search {
  padding-left: 2rem; /* Отступ для иконки */
  border: none;       /* Убирает границу */
  outline: none;      /* Убирает обводку при фокусе */
  box-shadow: none;   /* Убирает тень, если она применена для инпута */
}


.teacher-list-item {
  padding: 8px;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.teacher-list-item.hovered {
  background-color: #E9E9E9;
  border-radius: 8px;
}
.button-animate:active {
  transform: scale(0.85);
}
.button-animate-filter:active {
  transform: scale(0.95);
}


.teacher-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 100px; /* Maximum height of the list */
  overflow-y: auto; /* Enable vertical scroll when content overflows */
  background-color: white;
  width: 100%;
  z-index: 10;
}

/* Optional: Style scrollbar for WebKit browsers (Chrome, Safari) */
.teacher-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  border-radius: 30px;
}

.teacher-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 30px;
}

.teacher-list::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* Color of the scrollbar thumb */
  border-radius: 30px;
}

.teacher-list::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Color of the scrollbar thumb on hover */
  border-radius: 30px;
}
    
    