/* Стили для слайдера */
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* max-width: 300px; */
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  z-index: 0;
  display: flex;
  /* border: 1px solid #EBEBEB; */
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 0 0 0.5px #E0E0E0;
  border: "none";
}

.slide-image-container {
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  aspect-ratio: 1; /* Создает квадрат */
  overflow: hidden;
  transition: transform 0.5s ease;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.nav-arrows {
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
  pointer-events: none;
}

.left {
  left: 0;
}
.right {
  right: 0;
}
.slider-container:hover .nav-arrows {
  opacity: 1;
  pointer-events: auto;
}

.button_slider {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

.button_slider:hover {
  opacity: 1;
  width: 30px;
  height: 30px;
}

.dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.dot {
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: rgb(201, 201, 201);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

/* Стили для карточек */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  /* padding: 32px; */
  margin-top: 32px;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .card-container {
    /* padding: 8px; */
      
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 8px;
}

.card-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1; /* Создает квадрат */
  overflow: hidden;
  border-radius: 8px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}